.form {
  text-align: left;
  display: grid;
}

.form__input {
  height: 20px;
  margin: 10px;
}

.form__text {
  font-size: 16px;
  margin-left: 10px;
}

.form__btnContainer {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  border-radius: 5px;
  border: none;
  background-color: #9adb92;
  color: black;
  height: 25px;
  width: 100px;
  box-shadow: 0 4px grey;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}

.form__btn:hover {
  background-color: #7fb379;
}

.form__btn:active {
  outline: none;
  box-shadow: 0 2px grey;
  transform: translateY(4px);
}

.form__error {
  background-color: lightcoral;
  margin: 16px 0px 8px 0px;
  padding: 8px;
}

.form__userCreated {
  background-color: greenyellow;
  margin: 16px 0px 8px 0px;
  padding: 8px;
}
